*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(7, 6, 66);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapped{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 600px;
    background: cornflowerblue;
    border-radius: 5px;
    box-shadow: 1px 1px 10px white;
}
h1{
    font-size: 45px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select{
    padding: 5px 100px;
    border: 0px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(10, 10, 66);
}
#startbtn{
    text-align: center;
    padding: 10px 100px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-weight: 800;
}
.fa-pencil-square-o{
    font-size: 150px;
    text-align: center;
    display: block;
    margin-top: 40px;
    color: rgb(10, 10, 66);
}
.questionContainer{
    font-size: 20px;
    width: 400px;
    margin: 100px auto;
}
.questionContainer h3{
    font-size: 25px;
    margin-bottom: 20px;
}
/* .questionContainer  */
#next{
    text-align: center;
    padding: 10px 100px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-weight: 800; 
}

.error{
    display: none;
    color: rgb(133, 24, 24);
    text-align: center;
    margin-top: 5px;
}
.error.show{
    display: block;
    color: white;
 
}